@font-face {
  font-family: 'Ruda';
  src: url('../public/assets/fonts/Ruda-VariableFont_wght.ttf')  format('truetype'),
}

.menu {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 3px ;

  position: relative;
  width: 24px;
  height: 32px;
  left: 0px;
  top: 0px;
  overflow-y: scroll;
}

.logo {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-right: 50px;
  position: relative;
  width: 78px;
  height: 25px;
  left: 10px;
  top: 0px;
  overflow-y: scroll;
}

.nav-link {
  font-family: Ruda;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;

  font-family: Ruda;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;

  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;

}

